<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    </head>

    <body>
        {% block messages %}
        {% for message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger"> {{ message }}</div>
         {%  endfor %}
         {% for message in app.session.flashBag.get('success') %}
                <div class="alert alert-success"> {{ message }}</div>
         {%  endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
